.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  z-index: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
}

.header__image {
  display: flex;
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #838383;
}

.header__address {
  margin: auto 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #838383;
}

.recipes {
  padding: 100px 80px 215px 80px;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__subtitle {
  font-family: "Noto Sarif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
